<div class="container">
	<h1 class="mat-h1">Ashen Skill list</h1>
	<p>Thank you for taking the time to have a look!</p>

	<h2 class="mat-h2">What is this?</h2>
	<p>This project is a way to collect and get an overview of the various skills that soldiers in the Chapter have.
		This also establishes what skills one learns during basic trainings.</p>

	<h2 class="mat-h2">Why?</h2>
	<p>Officers and non-commisioned officers can use this application to make more specific, targeted trainings. If, for
		example, they see that few people are able to do a certain skill, trainings can be held for those specific
		people to improve specific skills. It also allows, in certain scenario's, to quickly pick the right person to do
		on a job.</p>
	<p>The choice to make a seperate application for this, instead of using something like Google Sheets or Forms, was
		made due to three important factors to us:</p>
	<ol>
		<li> <u>Anonimity</u><br />
			We didn't want you to have to use an email address or anything else that you wouldn't
			want to share. Now you can use only your account name or Enjin-handle, and that will be enough.</li>
		<li> <u>Only being able to look at your own answers</u><br />
			We wanted to keep the answers separate on a person
			by person basis. You should only be able to look at your own answers.</li>
		<li> <u>Being able to change your answers</u><br />
			We wanted to be sure that you can update your answers as your character grows and gets more training. </li>
	</ol>

	<h2 class="mat-h2">Finally, how does it work?</h2>
	<p>There are a few steps to this whole process:</p>
	<ol>
		<li>Create an account. You will be asked to fill in a name (can be anything, but we would prefer it to be
			something we can use to identify you with.)</li>
		<li>Create a character. Because you can have 2 characters in the guild, you can fill in answers for all of your
			characters.</li>
		<li>Fill in answers for your character. After you've done this, we will be able to look at in an overview only
			the officers have access to.</li>
	</ol>
	<p>Start with <span class="link" (click)="openCreateAccount()">creating your account</span> or <span class="link"
			routerLink="/character-overview">go to the character overview</span>!</p>
</div>