.container {
  margin-top: 10px;
}

.rad-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.rad-group-item {
  padding: 2px;
  margin-bottom: 1vh;
}

.rad-item-text {
  word-break: normal;
  max-width: 100%;
  white-space: normal;
}
