<h2 mat-dialog-title>Information about this application</h2>

<mat-dialog-content class="mat-typography">
	<p>This application was developed in the <a href="https://angular.io" target="_blank"><em>Angular</em></a> framework
		for the
		User Interface. It uses the <a href="https://material.angular.io" target="_blank"><em>Material</em></a>
		framework for easy CSS.
	</p>
	<p>This UI communicates with a .NET API, which stores the data in a SQL Server database, hosted on a personal
		machine. Therefore, it is requested that you do not spam this application to avoid overstressing said
		personal machine. Doing so can result in an IP ban.</p>
	<p>For the code of both the front- and back-end, please take a look on <a
			href="https://github.com/GiedevGils/Ashen-SkillList" target="_blank"><i class="devicon-github-plain"></i>
			Github</a>!</p>
	<p class="plain"><em>Made by Ilthy</em></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Ok!</button>
</mat-dialog-actions>