.form {
  min-width: 500px;
  max-width: 750px;
  width: 100%;
}

.full-width {
	width: 100%;
}

::ng-deep .error-snackbar {
  background-color: #D32F2F;
}

::ng-deep .success-snackbar {
  background-color: #388E3C
;
}