<mat-toolbar>
	<span>Ashen Chapter - Skill List</span>
	<span class="spacer"></span>
	<button mat-icon-button aria-label="Login button" (click)="displayLoginPopup()" title="Login">
		<mat-icon>login</mat-icon>
	</button>
	<button mat-icon-button aria-label="Register button" (click)="displayRegisterPopup()" title="Register">
		<mat-icon>person_add</mat-icon>
	</button>
	<button mat-icon-button aria-label="Info button" (click)="displayInfoPopup()" title="Application info">
		<mat-icon>info</mat-icon>
	</button>
</mat-toolbar>