<mat-toolbar>
	<span>Ashen Chapter - Skill List</span>

	<span class="spacer"></span>

	<div *ngIf="userInfo?.isAdmin">
		<button mat-stroked-button aria-label="Overview of all characters" title="Overview of all characters" routerLink="/character-overview">
			List characters <mat-icon>group</mat-icon>
		</button>
		<button mat-stroked-button aria-label="Overview of all characters" title="Overview of all characters">
			Manage characters <mat-icon>groups</mat-icon>
		</button>
		<button mat-stroked-button aria-label="Overview of all questions" title="Overview of all questions" routerLink="/question-overview">
			Overview questions <mat-icon>question_answer</mat-icon>
		</button>
	</div>

	<button *ngIf="isLoggedIn" mat-stroked-button [matMenuTriggerFor]="userMenu" title="User information">
		{{userInfo?.name}} <mat-icon>arrow_drop_down</mat-icon>
	</button>

	<mat-menu #userMenu="matMenu" class="user-menu">
		<button mat-menu-item (click)="logout()" >Log out</button>
	</mat-menu>


	<div *ngIf="!isLoggedIn">
		<button mat-button aria-label="Login button" (click)="displayLoginPopup()" title="Login">
			Log in <mat-icon>login</mat-icon>
		</button>
		<button mat-button aria-label="Register button" (click)="displayRegisterPopup()" title="Register">
			Register <mat-icon>person_add</mat-icon>
		</button>
	</div>

	<button mat-icon-button aria-label="Info button" (click)="displayInfoPopup()" title="Application info">
		<mat-icon>info</mat-icon>
	</button>
</mat-toolbar>