mat-expansion-panel {
  margin-bottom: 10px;
}

mat-panel-description {
  display: inherit;
}

.fab-container {
  position: relative;
  margin-bottom: 2vh;;
}

.add-cat-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 2vh;;
}

::ng-deep .mat-slide-toggle-bar {
  background-color: lightgrey
}