<h1 class="mat-h1">Manage questions</h1>

<div class="fab-container">
	<button mat-flat-button class="add-cat-btn" (click)="addCategory()">
		Add category <mat-icon>add</mat-icon>
	</button>
</div>

<hr>

<h2 class="mat-h2">Professions - {{filterQuestionsIntoProfs().length}} categories</h2>

<div class="fab-container">
	<mat-slide-toggle color="primary" checked="false" #displayProfs class="add-cat-btn">Display professions
	</mat-slide-toggle>
</div>


<div *ngFor="let cat of questionCategories">
	<mat-expansion-panel *ngIf="!cat.isProfessionCategory || cat.isProfessionCategory && displayProfs.checked">

		<mat-expansion-panel-header>
			<mat-panel-title>
				{{cat.description}}
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-panel-description>
			<p>Change the questions for {{cat.description}}:</p>
			<app-single-question [questionCategory]="cat" (questionsChange)="getQuestions()"></app-single-question>
		</mat-panel-description>

		<mat-action-row *ngIf="!shouldViewBeCompact">
			<button mat-stroked-button (click)="addQuestion(cat)">
				Add question to category <mat-icon>add</mat-icon>
			</button>
			<button mat-stroked-button (click)="editCategory(cat)">
				Edit category <mat-icon>edit</mat-icon>
			</button>
			<button mat-stroked-button color="error" (click)="deleteCategory(cat.id)">
				Delete category <mat-icon>delete</mat-icon>
			</button>
		</mat-action-row>
		<mat-action-row *ngIf="shouldViewBeCompact">
			<button mat-icon-button (click)="addQuestion(cat)">
				<mat-icon>add</mat-icon>
			</button>
			<button mat-icon-button (click)="editCategory(cat)">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button color="error" (click)="deleteCategory(cat.id)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-action-row>

	</mat-expansion-panel>
</div>