<div *ngIf="!userInfo">You have to be logged in to view your characters.</div>

<div *ngIf="userInfo">
	<h1 *ngIf="userInfo.isAdmin" class="mat-h1">All characters</h1>
	<h1 *ngIf="!userInfo.isAdmin" class="mat-h1">Your characters</h1>
	<mat-grid-list [cols]="amountOfColumns" (window:resize)="setGridColumnNumber($event)" rowHeight="12em"
		gutterSize="25px">
		<mat-grid-tile *ngFor='let char of characters'>
			<mat-card class="character-card">
				<mat-card-header>
					<div mat-card-avatar class="squad-icon"
						[ngClass]="{'blade': char.squad.toLowerCase() == 'blade', 'lance': char.squad.toLowerCase() == 'lance'}">
					</div>
					<mat-card-title>{{char.characterName}}</mat-card-title>
					<mat-card-subtitle>{{char.squad}} - {{char.profession}}</mat-card-subtitle>
				</mat-card-header>
				<mat-card-actions align="end">
					<button mat-stroked-button [routerLink]="['/answer-overview', char.id]">Overview
						answers</button>
					<button *ngIf="!userInfo.isAdmin" mat-stroked-button [routerLink]="['/answers', char.id]">Anwer
						questions</button>
					<button *ngIf="userInfo.isAdmin" mat-stroked-button [routerLink]="['/answers', char.id]">Answer
						questions for
						character</button>
					<button mat-icon-button label="Edit character" (click)="openEdit(char)">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button color="error" (click)="deleteCharacter(char.id)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-card-actions>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile *ngIf="!userInfo.isAdmin">
			<mat-card class="character-card">
				<mat-card-header>
					<mat-card-title>New character</mat-card-title>
					<mat-card-subtitle>Add your next character!</mat-card-subtitle>
				</mat-card-header>
				<mat-card-actions align="end">
					<button mat-stroked-button (click)="openCreateCharacterPopup()">
						<mat-icon>add</mat-icon> Add
					</button>
				</mat-card-actions>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile *ngIf="userInfo.isAdmin">
			<mat-card class="character-card">
				<mat-card-header>
					<mat-card-title></mat-card-title>
					<mat-card-subtitle>While logged in on the officer account, you cannot create new characters. Did you
						mean to navigate to <span class="link" [routerLink]="['/admin-character-overview']">the overview
							of all
							characters and their skills?</span></mat-card-subtitle>
				</mat-card-header>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>