<mat-card>
	<mat-card-title>Skill overview</mat-card-title>
	<mat-card-subtitle>See all the filled in answers for a specific skill.</mat-card-subtitle>
	<mat-card-content>
		<div class="filters">
			<mat-form-field class="filter-input">
				<input matInput #inputField type="text" [formControl]="filterInput" [matAutocomplete]="auto"
					placeholder="Find a category" />
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)="itemSelected($event)">
					<mat-optgroup *ngFor="let cat of filteredOptions | async" [label]="cat.description">
						<mat-option *ngFor="let question of cat.questions" [value]="question.description">
							{{question.description}} </mat-option>
					</mat-optgroup>
				</mat-autocomplete>
				<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="inputField.value=''">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>
		</div>
		<hr>
		<div [hidden]="!selectedQuestion">
			<p class="mat-typography">The currently selected skill:
				<i>{{selectedQuestion?.category.description}} -
					{{selectedQuestion?.question.description}}.</i> <br> You can click on the <i>answered rating</i> header
				to sort.
			</p>

			<table mat-table class="full-width" [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
				<ng-container matColumnDef="character">
					<th mat-header-cell *matHeaderCellDef> Character </th>
					<td mat-cell *matCellDef="let element"> {{element.character.characterName}} </td>
				</ng-container>

				<ng-container matColumnDef="rating">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Answered rating </th>
					<td mat-cell *matCellDef="let element"> {{element.answer.rating}} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>

		</div>


	</mat-card-content>
</mat-card>